@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

canvas {
  border-radius: 20px;
}
.active {
  font-weight: bold;
  color: #ec2626;
}

canvas {
  touch-action: pan-y;
}
